span.tags 
{
    background: rgba(24, 58, 29);;
    border-radius: 2px;
    color: #e1eedd;
    font-weight: bold;
    padding: 2px 4px;
    }
.checked {
    color: orange;
  }
.fa-star-half-full{
color:orange;
}

.Pictures{
    position: inline;
}
.Profile-description{
    text-align: center;
    order:1;
    float:right;
    display: inline;
    margin-right: 50px;
    
} 
.Cover{
    position: absolute;
    display:flex;
    z-index: -5;
    object-fit:fill;
    width: 120%;
    height: 250px;
    padding: 0px;
    background: 0px;
    margin: -40px;
    border: #f0a04b;;
    border-width: 100px;
    padding-left: 0%;
}
.Profile-pic{
    margin-top:20px;
    text-align: left;
    margin-left: 80px;
    position:relative;
    width: 20%;
    margin-right: 100%;
    margin-left: 5%;
    border-radius: 100%;
    border-style:ridge;
    border-image:stretch;
    border-width: 10px;
    border-color: #f0a04b;
    float: left;
    padding: 5px;
    display: inline-flex;
}
.container{

    size: 10px;
    width: 500px;
    background: none;
    display:inline-flex;
    text-align: right;
    align-items:flex-end;
    position:relative;
    margin-left: 0%;

   
}
body
{
    font-family: 'Lato', 'sans-serif';
    background-color: #e1eedd;
    position: relative;
    margin-left: 0%;
    margin-right: 0%;
    text-align:center;
    padding: 0%;
    display: flex;
    font-size: 15px;
    
    }
.joggers{
    width: 32%;
    height: 25%;
    display: inline-flex;
    font-size: 0px;
    padding: 0%;
    margin: 0%;
    border: #f39c12;
    border-width: 100px;
    border:solid;
    border-style:groove;
    float: left;
}
h2{
    display: inline;
    text-align: left;
    font-size: medium;
}
.Reviews{
    font-size: 12px;
    font-family: fantasy;
    text-align: left;
    margin-left: 10%;
    line-break: loose;
    display: inline-flex;
    margin-left: -18%;
    margin-right: 25px;
}
button {
    width: 90px;
    height: 50px;
    margin: 3px;
    font-family: 'Nunito', sans-serif;
    font-size: 8px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    color: rgba(24, 58, 29);
    background: #f0a04b;
  background: linear-gradient(90deg, rgba(240,160,75,1) 0%, rgba(240,160,75,1) 100%);
    border: none;
    border-radius: 100px;
    box-shadow: 12px 12px 24px rgba(79,209,197,.64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position:relative;
    background-color:rgba(24, 58, 29);
    border: solid 2px #e1eedd;
   

    }
    .Pictures {
        position: relative;
        width: 100%;

     }
     .Pictures button {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-top: 5%;
        margin-left: 30%;
        background:#f0a04b;
        border-radius: 10px;
        box-shadow: 12px 12px 24px #313133;
     }


