span.tags 
{
    background: rgba(24, 58, 29);
    border-radius: 2px;
    color: #e1eedd;
    font-weight: bold;
    padding: 2px 4px;
    }
.checked {
    color: orange;
  }
.fa-star-half-full{
color:orange;
}

.Pictures{
    position: inline;
}
.Profile-description{
    text-align: center;
    order:1;
    /* float:right; */
    display: inline;
    /* margin-right: 50px; */
    
} 
.Cover{
    position: absolute;
    display:block;
    z-index: -5;
    object-fit:fill;
    width: 100vw;
    height: 250px;
    padding: 0px;
    background: 0px;
    margin-top: -250px;
    border: #f0a04b;;
    border-width: 100px;
    padding-left: 0%;
    float: inline-start;
}
.Profile-pic{
    margin-top:20px;
    text-align: left;
    margin-left: 80px;
    position:relative;
    max-width: 20%;
    max-height: 20%;
    /* margin-right: 1%;
    margin-left: 5%; */
    border-radius: 50%;
    border-style:ridge;
    border-image:round;
    border-width: 10px;
    border-color: #f0a04b;
    /* float: left; */
    padding: 5px;
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}
.container{

    /* size: 10px;
    width: 500px; */
    background: none;
    display:block;
    text-align: center;
    align-items:flex-end;
    position:relative;
    /* margin-left: 25%;
    margin-top: 30%; */

   
}
h2{
    display: inline;
    text-align: left;
    font-size: x-large;
    color: #e1eedd;
}
body
{
    /* font-family: 'Lato', 'sans-serif'; */
    background-color: rgba(55, 116, 64, 0.6); 
    position: relative;
    margin-left: 0%;
    margin-right: 0%;
    text-align:center;
    padding: 0%;
    display: block;
    /* font-size: 15px; */
    
    }
.joggers{
    width: 32%;
    height: 25%;
    display: inline-flex;
    font-size: 0px;
    padding: 0%;
    margin: 0%;
    border: #f39c12;
    border-width: 100px;
    border:solid;
    border-style:groove;
    float: left;
}

.Reviews{
    font-size: 15px;
    /* font-family: fantasy; */
    text-align: left;
    display: block;
    margin-left: 9%;
    /* margin-right: 300px; */
    margin-top: 0%;
    position: relative;
    font-weight: bold;
    font-size: large;
    color: #e1eedd;
}
button {

    /* width: 90px;
    height: 50px;
    margin: 3px;
    font-family: 'Nunito', sans-serif;
    font-size: 8px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    color: rgba(24, 58, 29);
    background: #f0a04b;
  background: linear-gradient(90deg, rgba(240,160,75,1) 0%, rgba(240,160,75,1) 100%);
    border: none;
    border-radius: 100px;
    box-shadow: 12px 12px 24px rgba(79,209,197,.64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position:relative;
    background-color:rgba(24, 58, 29);
    border: solid 2px #e1eedd;
    */

    }
    .Pictures {
        position: relative;
        width: 100vw;

     }
     .Pictures button {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        /* margin-top: 5%;
        margin-left: 30%; */
        background:#f0a04b;
        border-radius: 10px;
        box-shadow: 12px 12px 24px #313133;
     }


