span.tags 
{
    background: rgba(24, 58, 29);
    border-radius: 2px;
    color: #e1eedd;
    font-weight: bold;
    padding: 2px 4px;
    }
.checked {
    color: orange;
  }
.fa-star-half-full{
color:orange;
}

.Pictures{
    position: inline;
}
.Profile-description{
    text-align: center;
    order:1;
    display: inline;
    
} 
.Cover{
    position: absolute;
    display:block;
    z-index: -5;
    object-fit:fill;
    width: 100vw;
    height: 250px;
    padding: 0px;
    background: 0px;
    margin-top: -250px;
    border: #f0a04b;;
    border-width: 100px;
    padding-left: 0%;
    float: inline-start;
}
.Profile-pic{
    margin-top:20px;
    text-align: left;
    margin-left: 80px;
    position:relative;
    max-width: 20%;
    max-height: 20%;
    border-style:ridge;
    border-image:round;
    border-width: 10px;
    border-color: #f0a04b;
    padding: 5px;
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border-radius: 100%;
}
.container{
    background: none;
    display:block;
    text-align: center;
    align-items:flex-end;
    position:relative;

   
}
h2{
    display: inline;
    text-align: left;
    font-size: x-large;
    color: #000000;
}
body
{
    background-color: rgba(55, 116, 64, 1); 
    position: relative;
    margin-left: 0%;
    margin-right: 0%;
    text-align:center;
    padding: 0%;
    display: block;
    
    }
.joggers{
    width: 32%;
    height: 25%;
    display: inline-flex;
    font-size: 0px;
    padding: 0%;
    margin: 0%;
    border: #f39c12;
    border-width: 100px;
    border:solid;
    border-style:groove;
    float: left;
}

.Reviews{
    font-size: 15px;
    text-align: left;
    display: block;
    margin-left: 9%;
    margin-top: 0%;
    position: relative;
    font-weight: bold;
    font-size: large;
    color: #000000;
}
    .Pictures {
        position: relative;
        width: 100vw;

     }
     .Pictures button {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background:#f0a04b;
        border-radius: 10px;
        box-shadow: 12px 12px 24px #313133;
     }
    img {
        vertical-align: middle;
    }
    .cursor {
        cursor: zoom-in;
    }
    .gallery-header {
        text-align: center;
        background-color: #000;
        padding: 2px 16px;
        color: white;
    }
    .column {
        float: left;
        width: 16.66%;
    }
    .demo {
        opacity: 0.6;
    }
    .active,
    .demo:hover {
        opacity: 1;
    }
.Profile-block{
    width: 100vw; 
    display: block; 
    height: 100%; 
    align-items: center;
}
button .Home{
    margin-top:-5%;
    margin-left:500px;
    margin-right:-300px;
    float:right;
    width: 100px; 
    height: 50px; 
    font-size: large;
    color:rgba(24, 58, 29);
}
