<!DOCTYPE html>
<html lang="en">

<head> 
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/Profile.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">
   

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>

<body>

    
    <svg style="position: absolute; z-index: 100; top: 12rem; left: 13rem; height: 8rem; width:auto;" class="blob " viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
        <path fill="#f0a04b" d="M40.5,-47.2C55.5,-53.3,72.8,-47.3,77.5,-35.8C82.2,-24.3,74.2,-7.4,61.2,1.2C48.2,9.8,30.1,10.1,20.8,14.4C11.4,18.7,10.9,27,4.3,40.9C-2.2,54.7,-14.9,74.2,-18.3,69.8C-21.8,65.4,-16.1,37.2,-27.8,24C-39.5,10.7,-68.6,12.4,-70.7,9.1C-72.8,5.9,-47.8,-2.3,-35.9,-11.4C-23.9,-20.5,-25.1,-30.6,-21.3,-29.6C-17.5,-28.5,-8.7,-16.3,2,-19.4C12.7,-22.5,25.5,-41,40.5,-47.2Z" transform="translate(100 100)" />
    </svg>
    <svg style="position: absolute; z-index: 100; top: 15rem; left: 25rem; height: 8rem; width:auto;" class="blob " viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
        <path fill="#f0a04b" d="M40.5,-47.2C55.5,-53.3,72.8,-47.3,77.5,-35.8C82.2,-24.3,74.2,-7.4,61.2,1.2C48.2,9.8,30.1,10.1,20.8,14.4C11.4,18.7,10.9,27,4.3,40.9C-2.2,54.7,-14.9,74.2,-18.3,69.8C-21.8,65.4,-16.1,37.2,-27.8,24C-39.5,10.7,-68.6,12.4,-70.7,9.1C-72.8,5.9,-47.8,-2.3,-35.9,-11.4C-23.9,-20.5,-25.1,-30.6,-21.3,-29.6C-17.5,-28.5,-8.7,-16.3,2,-19.4C12.7,-22.5,25.5,-41,40.5,-47.2Z" transform="translate(100 100)" />
    </svg>
    <svg style="position: absolute; z-index: 100; top: 9rem; right: 5rem; height: 15rem; width:auto;" class="blob " viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
        <path fill="#f0a04b" d="M40.5,-47.2C55.5,-53.3,72.8,-47.3,77.5,-35.8C82.2,-24.3,74.2,-7.4,61.2,1.2C48.2,9.8,30.1,10.1,20.8,14.4C11.4,18.7,10.9,27,4.3,40.9C-2.2,54.7,-14.9,74.2,-18.3,69.8C-21.8,65.4,-16.1,37.2,-27.8,24C-39.5,10.7,-68.6,12.4,-70.7,9.1C-72.8,5.9,-47.8,-2.3,-35.9,-11.4C-23.9,-20.5,-25.1,-30.6,-21.3,-29.6C-17.5,-28.5,-8.7,-16.3,2,-19.4C12.7,-22.5,25.5,-41,40.5,-47.2Z" transform="translate(100 100)" />
    </svg>
    <header>
        <p style="background-color: rgba(24, 58, 29, 0.7); z-index: 5; margin-top: -8px; width: 100vw; height: 60px;">
            <img style="width: 10%;margin:-3%;" class="pl-3 h-52 rounded" src="../static/images/Borithrift-250.png"
                alt="Borithrift" srcset="">
        </p>
    </header>
    
    <div class="Profile-block">
        <div class="Pictures">
            <img class="Profile-pic"
                src="https://images.unsplash.com/photo-1529665253569-6d01c0eaf7b6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cHJvZmlsZXxlbnwwfHwwfHw%3D&w=1000&q=80"
                alt="Profile Picture" class="img-circle">
            <!-- <img style="display: block;" class="Cover"
                src="https://maigensawyer.com/wp-content/uploads/2014/03/stacks-on-racks-shirts.jpg"
                alt="Profile Picture"> -->
            <button
                style="margin-top:-5%;margin-left:500px;margin-right:-300px;float:right;width: 100px; height: 50px; font-size: large;color:rgba(24, 58, 29);"><i
                    class="fa fa-home"></i> <a style="text-decoration: none;color:rgba(24, 58, 29);;"
                    href="/landing">Home</a></button>


        </div>
        <div class="Reviews" style="align-items: center;">
            <h2 style="text-align: left;">Victor Vega </h2>
            &nbsp
            <div>
                <link rel="stylesheet"
                    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star-half-full"></span>
                <small> 352</small>
            </div>
        </div>

        <button class="general-button">Send an
            email</button>
        <button class="general-button">Add User to
            Favorites</button>
        <button class="general-button">Report this
            user for spam</button>
        <button class="general-button">Unfollow
        </button>


        <div class="Items-on-sale" >
            <p><strong>Styles: </strong>
                <span class="tags">streetwear</span>
                <span class="tags">vintage</span>
                <span class="tags">sport</span>
                <span class="tags">casual</span>
            </p>
            <div class="SalesImages" style="width: 100vw;">     
                <h2 style="text-align:center;display: inline-block;">Your Items:</h2>

                <div class="container">
                    

                    <div class="gallery-header">
                        <p ></p>
                    </div>

                    <div class="row">
                        <div class="column">
                            <img class="demo cursor"
                                src="https://res.cloudinary.com/webstore/image/fetch/w_450,c_limit,c_fit,f_auto,e_trim/https%3A%2F%2Fae01.alicdn.com%2Fkf%2FHcdcfc88aba0c4a6786191490a8774751m%2FHip-Hop-Sweat-Pants-Embroidery-Japanese-Style-Trousers-Sweatpants-Streetwear-Men-Joggers-Track-Casual-Cargo-Pants.jpg"
                                style="width:100%"  alt="Grey Cargo Pants">
                        </div>
                        <div class="column">
                            <img class="demo cursor"
                                src="https://image.made-in-china.com/202f0j00zkTuvlCMvgpG/Baggy-Jeans-Men-Streetwear-Jogger-Jeans-Denim-Harem-Pants.jpg"
                                style="width:100%" alt="Jean Joggers">
                        </div>
                        <div class="column">
                            <img class="demo cursor"
                                src="https://img.joomcdn.net/32cadd07bfbe62657b9ec515bcd0161f613a8d6b_original.jpeg"
                                style="width:100%" alt="Official Fanny Pack">
                        </div>
                        <div class="column">
                            <img class="demo cursor"
                                src="https://img.joomcdn.net/abfe53e064180ff3ac88a4f9385465004b26dd34_original.jpeg"
                                style="width:100%"  alt="Black Joggers">
                        </div>
                        <div class="column">
                            <img class="demo cursor"
                                src="https://i0.wp.com/www.menstylefashion.com/wp-content/uploads/2021/06/hoodie-for-men.jpg?resize=900,900&ssl=1.jpg"
                                style="width:100%" alt="Grey Hoodie">
                        </div>
                        <div class="column">
                            <img class="demo cursor"
                                src="https://canary.contestimg.wish.com/api/webimage/5d0488efd80529331f90314c-large.jpg?cache_buster=4b2b9c30c475dcdcdac4647fd3899e93"
                                style="width:100%" alt="Palm trees T-shirt">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</body>

</html>

